{
    "active_entities": [
        {
            "type": "AppInfo"
        },
        {
            "type": "BootTime"
        },
        {
            "type": "Cpu"
        },
        {
            "path": "/",
            "tag": "disk",
            "type": "Disk"
        },
        {
            "type": "Hostname"
        },
        {
            "enable_hibernate": "N",
            "type": "Power"
        },
        {
            "type": "Ram"
        },
        {
            "type": "Temperature"
        },
        {
            "type": "OperatingSystem"
        },
        {
            "type": "UpTime"
        },
        {
            "type": "Time"
        },
        {
            "entity_type": "button",
            "command_on": " systemctl restart docker-compose",
            "tag": "restart-docker",
            "type": "Terminal"
        },
        {
            "type": "Username"
        },
        {
            "entity_type": "switch",
            "command_on": "docker start beszel-agent",
            "command_off": "docker stop beszel-agent",
            "tag": "beszel-agent",
            "type": "Terminal"
        },
        {
            "entity_type": "sensor",
            "command_state": "if docker ps | grep -q beszel-agent; then      echo \"Running!\"; else     echo \"Not running!\"; fi",
            "tag": "beszel-agent",
            "type": "Terminal"
        }
    ],
    "active_warehouses": [
        {
            "address": "{{ MQTT_HOST }}",
            "port": "1883",
            "name": "loki",
            "username": "{{ MQTT_USERNAME }}",
            "password": "{{ MQTT_PASSWORD }}",
            "add_name": "Y",
            "use_tag": "Y",
            "type": "HomeAssistant"
        }
    ],
    "settings": [
        {
            "update_interval": 10,
            "retry_interval": 1,
            "type": "App"
        }
    ]
}