[Unit]
Description=Docker Compose service that has controll over all applicaitons on the server
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory={{ docker_compose_generator_output_path }}
Type=oneshot
RemainAfterExit=yes

ExecStartPre=-docker compose pull --quiet
ExecStart=docker compose up -d

ExecStop=docker compose down

ExecReload=docker compose pull --quiet
ExecReload=docker compose up -d

[Install]
WantedBy=multi-user.target