---
defaultProxyProvider: default

docker:
  edge-local:
    host: "tcp://edge-socket-proxy:2375"
    targetHostname: "{{ ansible_default_ipv4.address | default(ansible_host | default(inventory_hostname)) }}"
    defaultProxyProvider: default
{% for docker_host in docker_hosts %}
  {{ docker_host.name }}:
    host: "tcp://{{ docker_host.host }}:{{ docker_host.port | default(2375) }}"
    targetHostname: "{{ docker_host.target_hostname | default(docker_host.host) }}"
    defaultProxyProvider: {{ docker_host.proxy_provider | default('default') }}
{% endfor %}

tailscale:
  providers:
    default:
      authKeyFile: /run/secrets/tailscale_authkey
{% for docker_host in docker_hosts %}
{% if docker_host.proxy_provider is defined and docker_host.proxy_provider != 'default' %}
    {{ docker_host.proxy_provider }}:
      authKeyFile: {{ docker_host.proxy_auth_key_file | default('/run/secrets/tailscale-authkey-' ~ docker_host.proxy_provider) }}
{% endif %}
{% endfor %}
  dataDir: /data

http:
  hostname: 0.0.0.0
  port: 8080

files: {}

log:
  level: info
  json: false

proxyAccessLog: true
